- 
    var links = [
        {title:"Bale Breaker",img:"../UserFiles/products/products_01_340_210.jpg"},
    ]

<!DOCTYPE html>
html(lang="en")
    include ../layout/_head.pug
    body#projects_detail
        header
            include ../layout/_navbar.pug
            img.bannerPage.lazy(src="../images/blazy_blank.svg" data-src="../UserFiles/projects/detail/banner_01_1920_415.jpg", alt="")
            .container
                .breadcrumbRoot
                    span ::
                    ul.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
                        li.breadcrumb-li(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                            a(href="../home/index.html" itemprop="item")
                                span(itemprop="name") Home
                            meta(itemprop="position" content="1")
                        li.breadcrumb-li(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                            a(href="../projects/index.html" itemprop="item")
                                span(itemprop="name") Projects
                            meta(itemprop="position" content="2")
                        li.breadcrumb-li(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                            a(href="javascript:;" itemprop="item")
                                span(itemprop="name") PET Bottle Washing Line For Domestic PET Bale Material
                            meta(itemprop="position" content="3")
        main
            article.mt-110
                h1.fs_45.black_color.text-center.mb-70 PET Bottle Washing Line for Domestic OET Bale Material
                section.graphic--second.black_color
                    .container
                        .gallery-content.fs_15.black_color.mb-30
                            .gallery-content-row
                                p.gallery-content__title Time
                                p.gallery-content__p 2018
                            .gallery-content-row
                                p.gallery-content__title Area
                                p.gallery-content__p China
                            .gallery-content-row
                                p.gallery-content__title Capacity
                                p.gallery-content__p 6 tons / hr
                            .gallery-content-row
                                p.gallery-content__title Application
                                p.gallery-content__p Bottle to Bottle
                        .row
                            .col-md-4.col-sm-6.galleryRoot
                                .gallery.gallery--4
                                    .gallery__img.js-openImg.lazy-bg.js-media-open(style="background-image: url(../UserFiles/projects/detail/projects_01_460_290.jpg)", data-media-channel="img")
                                    i.icon.icon-magnifier.white_color.fs_45
                            .col-lg-12.w-100.fs_18.imgInText
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type in the 1960s with the release of  in the 1960s with the release of  specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    br
                                    br
                                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'loreipsum' will uncover 
                                    br
                                    br
                                    | many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                section.graphic--second.black_color
                    .container
                        h2.fs_36.graphic__secondTitle.mb-35 Related Solutions
                        .row.d-flex.flex-wrap
                            .col-md-6
                                img.lazy(src="../images/blazy_blank.svg" data-src="../UserFiles/solutions/solutions_01_700_315.jpg", alt="")
                                .pt-25.pb-25
                                    h2.mb-25
                                        .fs_28.black_color Washing Line
                                    ul.twoList-secondFloor.twoList-secondFloor--page
                                        li.secondFloor-li
                                            a(href="../solutions/detail.html") Food Grade PET Bottle Washing Line
                                        li.secondFloor-li
                                            a(href="../solutions/detail.html") Super-clean PET Bottle Washing Line
                                        li.secondFloor-li
                                            a(href="../solutions/detail.html") Other Plastics Washing Line
                                        li.secondFloor-li
                                            a(href="../solutions/detail.html") Functional Units

                section.graphic--second.black_color
                    .container
                        h2.fs_36.graphic__secondTitle.mb-35 Related Products
                        .row.d-flex.flex-wrap
                                .col-md-3.col-xs-6.galleryRoot
                                    a(href="../products/detail.html")
                                        .gallery.gallery--4
                                            .gallery__img(style="background-image: url(../UserFiles/projects/detail/projects_02_340_210.jpg)")
                                        p.fs_18.mt-20 Bale Breaker

                .container
                    a.button.button--primary.button--block.white_color.fs_20.text-center.mb-100(href="javascript:history.go(-1)") BACK
            
            article.mediaLightRoot
                .mediaLightBG.js-media-close
                .mediaLight
                    .mediaLight-container
                    

        include ../layout/_footer.pug
        include ../layout/_footer_js.pug
        