- 
    var links = [
        {title:"PET Bottle Washing Line for Domestic PET Bale Material",img:"../UserFiles/projects/projects_01_340_210.jpg"},
        {title:"The First Project to Poland-A smart PET Bottle Washing Line",img:"../UserFiles/projects/projects_02_340_210.jpg"},
        {title:"PET Flakes Washing Line for Japanese Material",img:"../UserFiles/projects/projects_03_340_210.jpg"},
        {title:"The Biggest Project in Uzbekistan from Bottle to Fiber Plant",img:"../UserFiles/projects/projects_04_340_210.jpg"},
        {title:"The World’s Largest Capacity of a Single Line",img:"../UserFiles/projects/projects_05_340_210.jpg"},
        {title:"A Successful Case of PET Bottle Recycling Reformation",img:"../UserFiles/projects/projects_06_340_210.jpg"},
        {title:"The First PET Bottle Washing Line apply to Roof Insulation",img:"../UserFiles/projects/projects_07_340_210.jpg"},
        {title:"First Project of PET Bottle Washing Line for Food Grade Application",img:"../UserFiles/projects/projects_08_340_210.jpg"},
        {title:"First Successful PET Bottle Recycling Project  in Japan",img:"../UserFiles/projects/projects_09_340_210.jpg"},
    ]

<!DOCTYPE html>
html(lang="en")
    include ../layout/_head.pug
    body#projects
        header
            include ../layout/_navbar.pug
            img.bannerPage.lazy(src="../images/blazy_blank.svg" data-src="../UserFiles/projects/banner_01_1920_415.jpg", alt="")
            .container
                .breadcrumbRoot
                    span ::
                    ul.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
                        li.breadcrumb-li(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                            a(href="../home/index.html" itemprop="item")
                                span(itemprop="name") Home
                            meta(itemprop="position" content="1")
                        li.breadcrumb-li(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                            a(href="javascript:;" itemprop="item")
                                span(itemprop="name") Successful Stories
                            meta(itemprop="position" content="2")
        main
            article.container.mt-110.mb-40
                h1.fs_45.black_color.text-center.mb-70 Successful Stories
                section.row
                    .col-xs-12
                        p.fs_18.mb-15.black_color More than <span>140</span> sets production lines running in <span class="all-local-num">0</span> countries.
                        .tags-list
                            .tags-dropDown
                                .tags-dropDown-title.js-tags-dropDown
                                    .tags-dropDown__title All
                                    .tags-dropDown__button
                                .tags-dropDown-content
                                    .tags-titleRoot.fs_18
                                        button.tags-titleRoot__title.tags-titleRoot__title--active.js-tags-select All
                                        button.tags-titleRoot__title.js-tags-select Asia
                                        button.tags-titleRoot__title.js-tags-select North America
                                        button.tags-titleRoot__title.js-tags-select South America
                                        button.tags-titleRoot__title.js-tags-select Europe
                                        button.tags-titleRoot__title.js-tags-select Africa
                            .tags-content.fs_18.js-tags-num
                                ul.d-flex.flex-wrap
                                    li.tags-content__p(data-local="North America") Canada
                                    li.tags-content__p(data-local="South America") Nicaragua
                                    li.tags-content__p(data-local="South America") Venezuela
                                    li.tags-content__p(data-local="South America") Ecuador
                                    li.tags-content__p(data-local="Asia") Russia
                                    li.tags-content__p(data-local="Europe") Poland
                                    li.tags-content__p(data-local="Africa") Morocco
                                    li.tags-content__p(data-local="Africa") Algeria
                                    li.tags-content__p(data-local="Africa") Egypt
                                    li.tags-content__p(data-local="Africa") Sudan
                                    li.tags-content__p(data-local="Africa") Kenya
                                    li.tags-content__p(data-local="Africa") Tanzania
                                    li.tags-content__p(data-local="Africa") Zambia
                                    li.tags-content__p(data-local="Africa") Zimbabwe
                                    li.tags-content__p(data-local="Africa") UAE
                                    li.tags-content__p(data-local="Asia") Maldives
                                    li.tags-content__p(data-local="North America") USA
                                    li.tags-content__p(data-local="South America") Paraguay
                                    li.tags-content__p(data-local="South America") Chile
                                    li.tags-content__p(data-local="Europe") Ukraine
                                    li.tags-content__p(data-local="Africa") Saudi
                                    li.tags-content__p(data-local="Asia") Iran
                                    li.tags-content__p(data-local="Asia") Japan
                                    li.tags-content__p(data-local="North America") Mexico
                                    li.tags-content__p(data-local="Asia") Indonesia
                                    li.tags-content__p(data-local="Asia") Uzbekistan
                                    li.tags-content__p(data-local="Asia") Pakistan
                                    li.tags-content__p(data-local="Asia") Malaysia
                                    li.tags-content__p(data-local="Asia") China
                                    li.tags-content__p(data-local="Asia") Taiwan
                    .col-xs-12
                        .row.mt-60.mb-60
                            .col-md-3.col-sm-6.tags-dropDownRoot
                                .tags-list
                                    .tags-dropDown.tags-dropDown--isShow
                                        .tags-dropDown-title.js-dropDown
                                            .tags-dropDown__title -Select Solution
                                            .tags-dropDown__button
                                        .tags-dropDown-content
                                            .tags-titleRoot.fs_18
                                                button.tags-titleRoot__title.js-dropDown-select Solution_1
                                                button.tags-titleRoot__title.js-dropDown-select Solution_2
                                                button.tags-titleRoot__title.js-dropDown-select Solution_3
                                                button.tags-titleRoot__title.js-dropDown-select Solution_4
                                                button.tags-titleRoot__title.js-dropDown-select Solution_5
                            .col-md-3.col-sm-6.tags-dropDownRoot
                                .tags-list
                                    .tags-dropDown.tags-dropDown--isShow
                                        .tags-dropDown-title.js-dropDown
                                            .tags-dropDown__title -Select Continent
                                            .tags-dropDown__button
                                        .tags-dropDown-content
                                            .tags-titleRoot.fs_18
                                                button.tags-titleRoot__title.js-dropDown-select Continent_1
                                                button.tags-titleRoot__title.js-dropDown-select Continent_2
                                                button.tags-titleRoot__title.js-dropDown-select Continent_3
                                                button.tags-titleRoot__title.js-dropDown-select Continent_4
                                                button.tags-titleRoot__title.js-dropDown-select Continent_5
                            .col-md-3.col-sm-6.tags-dropDownRoot
                                .tags-list
                                    .tags-dropDown.tags-dropDown--isShow
                                        .tags-dropDown-title.js-dropDown
                                            .tags-dropDown__title -Select Country
                                            .tags-dropDown__button
                                        .tags-dropDown-content
                                            .tags-titleRoot.fs_18
                                                button.tags-titleRoot__title.js-dropDown-select Country_1
                                                button.tags-titleRoot__title.js-dropDown-select Country_2
                                                button.tags-titleRoot__title.js-dropDown-select Country_3
                                                button.tags-titleRoot__title.js-dropDown-select Country_4
                                                button.tags-titleRoot__title.js-dropDown-select Country_5
                            .col-md-3.col-sm-6.tags-dropDownRoot
                                .tags-list
                                    .tags-dropDown.tags-dropDown--isShow
                                        .tags-dropDown-title.js-dropDown
                                            .tags-dropDown__title -Select Application
                                            .tags-dropDown__button
                                        .tags-dropDown-content
                                            .tags-titleRoot.fs_18
                                                button.tags-titleRoot__title.js-dropDown-select Application_1
                                                button.tags-titleRoot__title.js-dropDown-select Application_2
                                                button.tags-titleRoot__title.js-dropDown-select Application_3
                                                button.tags-titleRoot__title.js-dropDown-select Application_4
                                                button.tags-titleRoot__title.js-dropDown-select Application_5
                    .col-xs-12
                        .row.d-flex.flex-wrap
                            each val in links
                                .col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-50.galleryRoot
                                    a(href="detail.html")
                                        .gallery.gallery--mask
                                            img.lazy.w-100.gallery__img(src="../images/blazy_blank.svg" data-src=val.img, alt="")
                                            .gallery-content.gallery-content--inImg.fs_15.white_color
                                                .gallery-content-row
                                                    p.gallery-content__title Time
                                                    p.gallery-content__p 2018
                                                .gallery-content-row
                                                    p.gallery-content__title Area
                                                    p.gallery-content__p China
                                                .gallery-content-row
                                                    p.gallery-content__title Capacity
                                                    p.gallery-content__p 6 tons / hr
                                                .gallery-content-row
                                                    p.gallery-content__title Application
                                                    p.gallery-content__p Bottle to Bottle
                                        h2.fs_18.mb-25.mt-25=val.title

        
        include ../layout/_footer.pug
        include ../layout/_footer_js.pug
        