<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="fonts/icommon/style.css")
        link(rel="stylesheet", href="js/swiper/swiper.min.css")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/index.css")
    body#home
        header
            .navbar
                .container
                    a.logo.pt-20.pb-20(href="javascript:;")
                        img(src="./images/logo.svg", alt="")
                    .navbar-meun
                        nav.navbar-root
                            ul.navbar-nav.hidden-xs.hidden-sm
                                li.navbar__li
                                    a.navbar__link.fs_18(href="javascript:;") SOLUTIONS
                                    ul.twoList.twoList--navbar
                                        li.twoList-li
                                            p.twoList-li__p.fs_20 Washing Lin
                                            ul.twoList-secondFloor
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Food Grade PET Bottle Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Super-clean PET Bottle Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Other Plastics Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Functional Units
                                        li.twoList-li
                                            p.twoList-li__p.fs_20 rPET Fiber Production Line
                                            ul.twoList-secondFloor
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Waste PET Bottles to Polyester Staple Fiber
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Filamant Yarn Producton Line ( POY / FDY )
                                        li.twoList-li
                                            a.twoList-li__p.fs_20(href="javascript:;") rPET Pelletizing Line ( Industrial Pellets )
                                        li.twoList-li
                                            a.twoList-li__p.fs_20(href="javascript:;") PET Bottle-to-Bottle Plant ( Food Contact )
                                li.navbar__li
                                    a.navbar__link.fs_18(href="javascript:;") PRODUCTS
                                    ul.twoList.twoList--navbar
                                        li.twoList-li
                                            p.twoList-li__p.fs_20 Washing Lin
                                            ul.twoList-secondFloor
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Food Grade PET Bottle Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Super-clean PET Bottle Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Other Plastics Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Functional Units
                                li.navbar__li
                                    a.navbar__link.fs_18(href="javascript:;") PROJECTS
                                    ul.twoList.twoList--navbar
                                        li.twoList-li
                                            p.twoList-li__p.fs_20 Washing Lin
                                            ul.twoList-secondFloor
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Food Grade PET Bottle Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Super-clean PET Bottle Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Other Plastics Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Functional Units
                                li.navbar__li
                                    a.navbar__link.fs_18(href="javascript:;") ABOUT US
                                li.navbar__li
                                    a.navbar__link.fs_18(href="javascript:;") NEWS
                                    ul.twoList.twoList--navbar
                                        li.twoList-li
                                            p.twoList-li__p.fs_20 Washing Lin
                                            ul.twoList-secondFloor
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Food Grade PET Bottle Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Super-clean PET Bottle Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Other Plastics Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Functional Units
                                li.navbar__li
                                    a.navbar__link.fs_18(href="javascript:;") CONTACT
                                    ul.twoList.twoList--navbar
                                        li.twoList-li
                                            p.twoList-li__p.fs_20 Washing Lin
                                            ul.twoList-secondFloor
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Food Grade PET Bottle Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Super-clean PET Bottle Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Other Plastics Washing Line
                                                li.secondFloor-li
                                                    a.fs_20(href="javascript:;") Functional Units
                        .navbar-earth
                            img(src="./images/earth.svg", alt="")
                        .menu-icon
                            img(src="./images/menu.svg", alt="")
            .banner
                img(src="./UserFiles/home/banner_01_1920_900.jpg", alt="")
                .banner-text.black_color
                    h1.fs_55.mb-30 PET Recycle Solution
                    p.fs_18.mb-20 Economic PET Bottle-to-bottle Plant Engineering Design and Fabrication
                    p.fs_18.mb-20 Compact Space Occupation, fda approved
        main
            article
            article.BoReTech-article(style="background-image: url('./UserFiles/home/whe_boretech.jpg')")
                .container
                    .row
                        .col-md-4
                        .col-md-8.mt-60.mb-60
                            h2.white_color.fs_50.mb-30.text-capital WHY  BoReTech
                            ul.numList.pl-40
                                li.numList__li.fs_20.white_color Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                li.numList__li.fs_20.white_color It is a long established fact that a reader will be distracted by the readable content.
                                li.numList__li.fs_20.white_color Contrary to Lorem Ipsum is not simply random text. It has roots in a piece of classical  Latin.
                                li.numList__li.fs_20.white_color There are many variations of passages of Lorem Ipsum available, but the majority
                                li.numList__li.fs_20.white_color discovered the undoubtable source. Lorem Ipsum comes from sections.
            article
                h2.black_color.fs_50.mt-50.mb-50.text-center.text-capital solutions
                ul.row.mx-0.box
                    li.col-md-3.col-sm-6.px-0.box-li
                        .box-li-img
                            img(src="./UserFiles/home/solutions_01_480_300.jpg", alt="")
                        .p-40
                            a.fs_30.black_color.mb-30(href="javascript:;") Washing Line
                            ul.list-style--disc
                                li
                                    a(href="javascript:;") Food Grade PET Bottle Washing Line
                                li
                                    a(href="javascript:;") Super-clean PET Bottle Washing Line
                                li
                                    a(href="javascript:;") Other Plastics Washing Line
                                li
                                    a(href="javascript:;") Functional Units
                    li.col-md-3.col-sm-6.px-0.box-li
                        .box-li-img
                            img(src="./UserFiles/home/solutions_02_480_300.jpg", alt="")
                        .p-40
                            a.fs_30.black_color.mb-30(href="javascript:;") rPET Fiber Production Line
                            ul.list-style--disc
                                li
                                    a(href="javascript:;") Waste PET Bottles to Polyester Staple Fiber
                                li
                                    a(href="javascript:;") Filamant Yarn Producton Line ( POY / FDY )
                    li.col-md-3.col-sm-6.px-0.box-li
                        .box-li-img
                            img(src="./UserFiles/home/solutions_03_480_300.jpg", alt="")
                        .p-40
                            a.fs_30.black_color.mb-30(href="javascript:;") PET Bottle-to-Bottle Plant
                                span.fs_20 ( Food Contact )
                    li.col-md-3.col-sm-6.px-0.box-li
                        .box-li-img
                            img(src="./UserFiles/home/solutions_04_480_300.jpg", alt="")
                        .p-40
                            a.fs_30.black_color.mb-30(href="javascript:;") rPET Pelletizing Line
                                span.fs_20 ( Industrial Pellets )
            article.exhibitRoot
                .container.pb-50
                    h2.black_color.fs_50.mt-50.mb-50.text-center.text-capital exhibitions
                    .swiper-container.exhibit-swiper.my-swiper-style
                        ul.swiper-wrapper.card
                            li.swiper-slide
                                a(href="javascript:;")
                                    img.mb-30(src="./UserFiles/home/exhibitions_01_460_285.jpg", alt="")
                                    p.fs_24.text-center.mb-20 CHINAPLAS 2019-China
                                    p.black_light_color.text-center.fs_18 2019, Oct 16~23
                            li.swiper-slide
                                a(href="javascript:;")
                                    img.mb-30(src="./UserFiles/home/exhibitions_02_460_285.jpg", alt="")
                                    p.fs_24.text-center.mb-20 K-SHOW 2019
                                    p.black_light_color.text-center.fs_18 2019, Oct 16~23
                            li.swiper-slide
                                a(href="javascript:;")
                                    img.mb-30(src="./UserFiles/home/exhibitions_03_460_285.jpg", alt="")
                                    p.fs_24.text-center.mb-20 Vietnam Plas 2019
                                    p.black_light_color.text-center.fs_18 2019, Oct 16~23
                            li.swiper-slide
                                a(href="javascript:;")
                                    img.mb-30(src="https://fakeimg.pl/460x285/", alt="")
                                    p.fs_24.text-center.mb-20 CHINAPLAS 2019-China
                                    p.black_light_color.text-center.fs_18 2019, Oct 16~23
                            li.swiper-slide
                                a(href="javascript:;")
                                    img.mb-30(src="https://fakeimg.pl/460x285/", alt="")
                                    p.fs_24.text-center.mb-20 K-SHOW 2019
                                    p.black_light_color.text-center.fs_18 2019, Oct 16~23
                            li.swiper-slide
                                a(href="javascript:;")
                                    img.mb-30(src="https://fakeimg.pl/460x285/", alt="")
                                    p.fs_24.text-center.mb-20 Vietnam Plas 2019
                                    p.black_light_color.text-center.fs_18 2019, Oct 16~23
                        .swiper-pagination
                        
        .aside-community
            a.icon(style="background-color: #0068B2")
                i.icon-email(href="javascript")
            a.icon(style="background-color: #3B5998")
                i.icon-facebook(href="javascript")
            a.icon(style="background-color: #FF0000")
                i.icon-youtube(href="javascript" )
            a.icon(style="background-color: #01A3E3")
                i.icon-qq(href="javascript")
            a.icon(style="background-color: #61A622")
                i.icon-wechat(href="javascript")
        footer
            article.container
                .footer-menu
                    .row
                        section.col-md-4
                            p.footer__title.fs_30 SOLUTIONS
                            ul.twoList
                                li.twoList-li
                                    p.twoList-li__p.fs_18 Washing Lin
                                    ul.twoList-secondFloor
                                        li.secondFloor-li
                                            a(href="javascript:;") Food Grade PET Bottle Washing Line
                                        li.secondFloor-li
                                            a(href="javascript:;") Super-clean PET Bottle Washing Line
                                        li.secondFloor-li
                                            a(href="javascript:;") Other Plastics Washing Line
                                        li.secondFloor-li
                                            a(href="javascript:;") Functional Units
                                li.twoList-li
                                    p.twoList-li__p.fs_18 rPET Fiber Production Line
                                    ul.twoList-secondFloor
                                        li.secondFloor-li
                                            a(href="javascript:;") Waste PET Bottles to Polyester Staple Fiber
                                        li.secondFloor-li
                                            a(href="javascript:;") Filamant Yarn Producton Line ( POY / FDY )
                                li.twoList-li
                                    a.twoList-li__p.fs_18(href="javascript:;") rPET Pelletizing Line ( Industrial Pellets )
                                li.twoList-li
                                    a.twoList-li__p.fs_18(href="javascript:;") PET Bottle-to-Bottle Plant ( Food Contact )
                        section.col-md-8
                            .row
                                .col-sm-3
                                    p.footer__title.fs_30 PRODUCTS
                                    ul.linkRoot
                                        li.link
                                            a.link__href.fs_18(href="javascript:;") Equipment
                                        li.link
                                            a.link__href.fs_18(href="javascript:;") Pre-owned Machines
                                        li.link
                                            a.link__href.fs_18(href="javascript:;") Materials
                                .col-sm-3
                                    p.footer__title.fs_30 PROJECTS
                                    ul.linkRoot
                                        li.link
                                             a.link__href.fs_18(href="javascript:;") Successful Stories
                                        li.link
                                            a.link__href.fs_18(href="javascript:;") Service Point
                                .col-sm-3
                                    p.footer__title.fs_30 Quick LINK
                                    ul.linkRoot
                                        li.link
                                            a.link__href.fs_18(href="javascript:;") About US
                                        li.link
                                            a.link__href.fs_18(href="javascript:;") Exhibitions
                                        li.link
                                            a.link__href.fs_18(href="javascript:;") News
                                        li.link
                                            a.link__href.fs_18(href="javascript:;") Download
                                        li.link
                                            a.link__href.fs_18(href="javascript:;") Video
                                        li.link
                                            a.link__href.fs_18(href="javascript:;") E-Paper
                                        li.link
                                            a.link__href.fs_18(href="javascript:;") Contact
                                        li.link
                                            a.link__href.fs_18(href="javascript:;") Inquery
                                .col-sm-3
                                    img.ml-auto(src="./UserFiles/footer/QR_code.svg", alt="")
            article.footer-messageRoot
                .footer-message.container
                    .communityRoot.mr-auto
                        p.footer-message__title.fs_18 Follow Us
                        a.icon.icon-email(href="javascript")
                        a.icon.icon-facebook(href="javascript")
                        a.icon.icon-youtube(href="javascript")
                        a.icon.icon-qq(href="javascript")
                        a.icon.icon-wechat(href="javascript")
                    form.sendMailRoot.ml-auto
                        label.sendMail-label
                            p.footer-message__title.fs_18 Subscribe Newsletter
                            .sendMail
                                input.sendMail__input(type="text" placeholder="Your Email Address")
                                button.sendMail__enter(type="button") Subscribe
            article.footer-copyrightRoot
                .container
                    .row
                        .col-md-4
                        p.col-sm-12.col-md-4.white_color.text-center.pt-15.pb-15 Copyright © 2019 BoReTech Environmental Engineering Co., Ltd.
                        .col-sm-12.col-md-4.text-right.text-md-center.pt-15.pb-15
                            a.white_color(href="https://www.polaris.net.tw/tw/index.html" target="_blank") Design by Polaris
                            hr.copyright-other__gutter
                            span.white_color 浙公网安备 33048202000150号
        script(src="js/jquery-3.4.1.min.js")
        script(src="js/swiper/swiper.min.js")
        script(src="js/jquery_layout-dist.js")