script(src="../js/modernizr/modernizr-custom.js")
script(src="../js/jquery-3.4.1.min.js")
script(src="../js/swiper/swiper.min.js")
script(src="../js/blazy/blazy.min.js")
script(src="../js/lazyload/lazyload.min.js")
script(src="../js/jquery-modal-video/jquery-modal-video.js")
script(src="../js/jquery_layout-dist.js")