footer.footer
    article.container
        .footer-menu
            section.row
                .col-md-4.hidden-xs.hidden-sm
                    p.footer__title.fs_28 SOLUTIONS
                    ul.twoList
                        li.twoList-li
                            p.twoList-li__p.fs_16 Washing Lin
                            ul.twoList-secondFloor
                                li.secondFloor-li
                                    a(href="../solutions/detail.html") Food Grade PET Bottle Washing Line
                                li.secondFloor-li
                                    a(href="../solutions/detail.html") Super-clean PET Bottle Washing Line
                                li.secondFloor-li
                                    a(href="../solutions/detail.html") Other Plastics Washing Line
                                li.secondFloor-li
                                    a(href="../solutions/detail.html") Functional Units
                        li.twoList-li
                            p.twoList-li__p.fs_16 rPET Fiber Production Line
                            ul.twoList-secondFloor
                                li.secondFloor-li
                                    a(href="../solutions/detail.html") Waste PET Bottles to Polyester Staple Fiber
                                li.secondFloor-li
                                    a(href="../solutions/detail.html") Filamant Yarn Producton Line ( POY / FDY )
                        li.twoList-li
                            a.twoList-li__p.fs_16(href="../solutions/detail.html") rPET Pelletizing Line ( Industrial Pellets )
                        li.twoList-li
                            a.twoList-li__p.fs_16(href="../solutions/detail.html") PET Bottle-to-Bottle Plant ( Food Contact )
                .col-md-8
                    .row
                        .col-sm-3.hidden-xs.hidden-sm
                            p.footer__title.fs_28 PRODUCTS
                            ul.linkRoot
                                li.link
                                    a.link__href.fs_16(href="../products/index.html") Equipment
                                li.link
                                    a.link__href.fs_16(href="../products/index.html") Pre-owned Machines
                                li.link
                                    a.link__href.fs_16(href="../products/index.html") Materials
                        .col-sm-3.hidden-xs.hidden-sm
                            p.footer__title.fs_28 PROJECTS
                            ul.linkRoot
                                li.link
                                        a.link__href.fs_16(href="../projects/index.html") Successful Stories
                                li.link
                                    a.link__href.fs_16(href="../projects/service.html") Service Point
                        .col-sm-3.hidden-xs.hidden-sm
                            p.footer__title.fs_28 Quick LINK
                            ul.linkRoot
                                li.link
                                    a.link__href.fs_16(href="../about/index.html") About US
                                li.link
                                    a.link__href.fs_16(href="../news/exhibitions.html") Exhibitions
                                li.link
                                    a.link__href.fs_16(href="../news/index.html") News
                                li.link
                                    a.link__href.fs_16(href="../download/index.html") Download
                                li.link
                                    a.link__href.fs_16(href="../videos/index.html") Video
                                li.link
                                    a.link__href.fs_16(href="../download/index.html") E-Paper
                                li.link
                                    a.link__href.fs_16(href="../contact/index.html") Contact
                                li.link
                                    a.link__href.fs_16(href="../contact/inquiry.html") Inquery
                        .col-md-3.col-xs-12
                            img.mx-auto(src="../UserFiles/footer/QR_code.svg", alt="")
    article.footer-messageRoot
        .footer-message.container
            .communityRoot.hidden-xs.hidden-sm
                p.footer-message__title.fs_16 Follow Us
                a.icon.icon-email(href="../contact/index.html")
                a.icon.icon-facebook(href="https://www.facebook.com/PRMTAIWAN/" target="_black")
                a.icon.icon-youtube(href="https://www.youtube.com/user/PRMTaiwan" target="_black")
                a.icon.icon-qq(href="javascript:;")
                a.icon.icon-wechat(href="javascript:;")
            form.sendMailRoot
                label.sendMail-label
                    p.footer-message__title.fs_16 Subscribe Newsletter
                    .sendMail
                        input.sendMail__input(type="text" placeholder="Your Email Address")
                        button.sendMail__enter(type="button") Subscribe
    article.footer-copyrightRoot
        .container
            .row
                p.col-sm-12.col-md-4.col-md-offset-4.white_color.text-center.pt-15.pb-15 Copyright © 2019 BoReTech Environmental Engineering Co., Ltd.
                .col-sm-12.col-md-4.text-right.text-md-center.pt-15.pb-15
                    a.white_color(href="https://www.polaris.net.tw/tw/index.html" target="_blank" rel="noopener") Design by Polaris
                    hr.copyright-other__gutter
                    span.white_color 浙公网安备 33048202000150号