.navbar
    .container.pos-r
        a.logo.pt-20.pb-20(href="../home/index.html")
            img(src="../images/logo.svg", alt="")
        .navbar-meun
            nav.navbar-root
                ul.navbar-nav.hidden-xs.hidden-sm
                    li.navbar__li.navbar__li--active
                        a.navbar__link(href="../solutions/index.html") SOLUTIONS
                        ul.twoList.twoList--navbar
                            li.twoList-li
                                p.twoList-li__p.fs_18 Washing Lin
                                ul.twoList-secondFloor
                                    li.secondFloor-li
                                        a.fs_18(href="../solutions/detail.html") Food Grade PET Bottle Washing Line
                                    li.secondFloor-li
                                        a.fs_18(href="../solutions/detail.html") Super-clean PET Bottle Washing Line
                                    li.secondFloor-li
                                        a.fs_18(href="../solutions/detail.html") Other Plastics Washing Line
                                    li.secondFloor-li
                                        a.fs_18(href="../solutions/detail.html") Functional Units
                            li.twoList-li
                                p.twoList-li__p.fs_18 rPET Fiber Production Line
                                ul.twoList-secondFloor
                                    li.secondFloor-li
                                        a.fs_18(href="../solutions/detail.html") Waste PET Bottles to Polyester Staple Fiber
                                    li.secondFloor-li
                                        a.fs_18(href="../solutions/detail.html") Filamant Yarn Producton Line ( POY / FDY )
                            li.twoList-li.twoList-li--firstFloor
                                a.twoList-li__p.fs_18(href="../solutions/detail.html") rPET Pelletizing Line ( Industrial Pellets )
                            li.twoList-li.twoList-li--firstFloor
                                a.twoList-li__p.fs_18(href="../solutions/detail.html") PET Bottle-to-Bottle Plant ( Food Contact )
                    li.navbar__li
                        a.navbar__link(href="../products/index.html") PRODUCTS
                        ul.twoList.twoList--navbar
                            li.twoList-li
                                p.twoList-li__p.fs_18 Washing Lin
                                ul.twoList-secondFloor
                                    li.secondFloor-li
                                        a.fs_18(href="../products/detail.html") Food Grade PET Bottle Washing Line
                                    li.secondFloor-li
                                        a.fs_18(href="../products/detail.html") Super-clean PET Bottle Washing Line
                                    li.secondFloor-li
                                        a.fs_18(href="../products/detail.html") Other Plastics Washing Line
                                    li.secondFloor-li
                                        a.fs_18(href="../products/detail.html") Functional Units
                    li.navbar__li
                        a.navbar__link(href="../projects/index.html") PROJECTS
                        ul.twoList.twoList--navbar
                            li.twoList-li.twoList-li--firstFloor
                                a.twoList-li__p.fs_18(href="../projects/index.html") Successful Stories
                            li.twoList-li.twoList-li--firstFloor
                                a.twoList-li__p.fs_18(href="../projects/service.html") Service Point
                    li.navbar__li
                        a.navbar__link(href="../about/index.html") ABOUT US
                    li.navbar__li
                        a.navbar__link(href="../news/index.html") NEWS
                        ul.twoList.twoList--navbar
                            li.twoList-li.twoList-li--firstFloor
                                a.twoList-li__p.fs_18(href="../news/index.html") news
                            li.twoList-li.twoList-li--firstFloor
                                a.twoList-li__p.fs_18(href="../news/exhibitions.html") exhibitions
                    li.navbar__li
                        a.navbar__link(href="javascript:;") CONTACT
                        ul.twoList.twoList--navbar
                            li.twoList-li.twoList-li--firstFloor
                                a.twoList-li__p.fs_18(href="../contact/index.html") contact us
                            li.twoList-li.twoList-li--firstFloor
                                a.twoList-li__p.fs_18(href="../contact/inquiry.html") inquiry
            .menu-icon.js-openDropDown(data-dropDown="dropDown--menu")
                i.icon.icon-menu
            .navbar-earth.js-openDropDown(data-dropDown="dropDown--earth")
                i.icon.icon-earth

        ul.dropDown.dropDown--earth
            li.dropDown-li.js-closeDropDown
                a.dropDown-li__link.fs_16(href="javascript:;") English
            li.dropDown-li.js-closeDropDown
                a.dropDown-li__link.fs_16(href="javascript:;") 简体中文
            li.dropDown-li.js-closeDropDown
                a.dropDown-li__link.fs_16(href="javascript:;") 日本語
            li.dropDown-li.js-closeDropDown
                a.dropDown-li__link.fs_16(href="javascript:;") Español
        ul.twoList.twoList--navbar.dropDown--menu.navbar__li--unJust1
            li.twoList-li.twoList-li--firstFloor.js-closeDropDown
                a.twoList-li__p.fs_18(href="../download/index.html") Download
            li.twoList-li.twoList-li--firstFloor.js-closeDropDown
                a.twoList-li__p.fs_18(href="../videos/index.html") Video
            li.twoList-li.twoList-li--firstFloor.js-closeDropDown
                a.twoList-li__p.fs_18(href="javascript:;") Q&A
            li.twoList-li.twoList-li--firstFloor.js-closeDropDown
                a.twoList-li__p.fs_18(href="../download/index.html") e-Paper
