<!DOCTYPE html>
html(lang="en")
    include layout/_head.pug
    body
        header
            include layout/_navbar.pug

        main

        include layout/_footer.pug
        include layout/_footer_js.pug
        