<!DOCTYPE html>
html(lang="en")
    include ../layout/_head.pug
    body#about
        header
            include ../layout/_navbar.pug
            img.bannerPage.lazy(src="../images/blazy_blank.svg" data-src="../UserFiles/about/banner_01_1920_415.jpg", alt="")
            .container
                .breadcrumbRoot
                    span ::
                    ul.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
                        li.breadcrumb-li(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                            a(href="../home/index.html" itemprop="item")
                                span(itemprop="name") Home
                            meta(itemprop="position" content="1")
                        li.breadcrumb-li(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                            a(href="javascript:history.go(-1)" itemprop="item")
                                span(itemprop="name") About Us
                            meta(itemprop="position" content="2")
        main
            article.mt-110
                h1.fs_45.black_color.text-center.mb-10  About Us
                section.graphic--second.black_color.pt-40.pb-40
                    .container
                        p.fs_18 We are environmental equipment & plastic recycling enterprise which comes from Taiwan  
                        br
                        br
                        p.fs_28 with 20 years experience for PET bottle,and other waste plastic recycleand 15 years experience for polyester staple fiber. 
                        br
                        br
                        p.fs_18 Our plentiful manufacturing experience has become our prime backbone in waste plastic recycling plan, design and produce. Especially in PET bottle field, we provide not only whole recycling line or single machine but also operate manufacturing and sales in various kinds of recycled PET material and their upper and lower reaches practically. With those outstanding conditions, the equipment and project provided by us are verified by actual operation and the spirit of design is conform to operator's demand perfectly.
                            br
                            br
                            | Since last century, there is highly economic development in global and speedy growth in population. To satisfy human being substance consumption's requested, which caused the natural sources exhausting, and the un-conversed ecological environment's destroying. Even more caused climate system's seriously un-balanced. Facing such a consequent, human being not only shall deeply thinking it over, also shall have reality and concrete movement to decrease this worsen situation, or to a better improvement. The development of economic and scientific is the necessary evolution process of human civilization. The cleaned and balanced ecological environment is the species survival's basic requirement. Therefore, how to connect scientific to get a relative balance in civilization develop and environment protect, that is a subject of worthy to consider deeply.
                            br
                            br
                            | The development of environmental protection industry, especially in resources recycling which is a human being's concrete action to lessen or improving the worsen environment. Meanwhile it will take care of the both demands of social requirements and enterprise development. It will become the 21 century's major industry. Since we establish BORETECH, well using "Mineral on Surface", and pursuing eternal operation, is our company's highest guideline "Managing the Human Side of the Enterprise" as well as "Sincere & Truth" is our Enterprise's criterion. Also, marching toward the recycle technology development and recycle substances consolidated usage, as well as gradually towards the direction of proposal supplier in "environment management and recycling resources".
                section.graphic--second.white_color.pt-40.pb-40(style="background-color: #6FB42C")
                    .container
                        h2.fs_50 Why BoReTech
                        ul.fs_20.graphic-list.graphic-list--decimal
                            li Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            li It is a long established fact that a reader will be distracted by 
                            li Contrary to Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.
                            li There are many variations of passages of Lorem Ipsum avail
                            li discovered the undoubtable source. Lorem Ipsum comes from sections.
                section.graphic--second.black_color.pt-40.pb-40
                    .container
                        h2.fs_50 Business Scope
                        ul.fs_20.graphic-list.graphic-list--decimal
                            li Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            li It is a long established fact that a reader will be distracted by 
                            li Contrary to Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.
                            li There are many variations of passages of Lorem Ipsum avail
                            li discovered the undoubtable source. Lorem Ipsum comes from sections.
                section
                    img.w-100(src="../UserFiles/about/about_01_1920_790.jpg", alt="")
                section.pt-70.pb-60(style="background-color: #F1F1F1")
                    .timeline-full
                        .container
                            h2.fs_50.black_color.mb-50 Milestone
                        .timeline-container
                            ul.timeline.black_color.mb-60
                                li.timeline-li
                                    .timeline-li-inner
                                        p.fs_28 2004
                                        p.fs_16 ZHEJIANG BORETECH ENVIRONMENTAL ENGINEERING CO., LTD. in Jiaxing, which developed and manufactured PET recycling and washing system as well as took up the engineering such as recycled ﬁber, recycled granulation, recycled sheet and so on, was established.
                                    .timeline-gutter
                                li.timeline-li
                                    .timeline-li-inner
                                        p.fs_28 2000
                                        p.fs_16 Guangshun (Jiaxing) Pettechs Fiber CO., Ltd., which manufactured and reclaimed polyester bottle ﬂake, was established.
                                    .timeline-gutter
                                li.timeline-li
                                    .timeline-li-inner
                                        p.fs_28 1994
                                        p.fs_16 1994 Anshun (Hangzhou) Pettechs Fiber CO., Ltd., which manufactured regenerated polyester chopped ﬁber, was established.
                                    .timeline-gutter
                                li.timeline-li
                                    .timeline-li-inner
                                        p.fs_28 1991
                                        p.fs_16 The PET bottle washing factory in Taiwan, which specialized in recycling PET bottles, was established
                                    .timeline-gutter
                                li.timeline-li
                                    .timeline-li-inner
                                        p.fs_28 1989
                                        p.fs_16 1994 Anshun (Hangzhou) Pettechs Fiber CO., Ltd., which manufactured regenerated polyester chopped ﬁber, was established.
                                    .timeline-gutter
                                li.timeline-li
                                    .timeline-li-inner
                                        p.fs_28 1986
                                        p.fs_16 The PET bottle washing factory in Taiwan, which specialized in recycling PET bottles, was established
                                    .timeline-gutter
                                li.timeline-li
                                    .timeline-li-inner
                                        p.fs_28 1981
                                        p.fs_16 1994 Anshun (Hangzhou) Pettechs Fiber CO., Ltd., which manufactured regenerated polyester chopped ﬁber, was established.
                                    .timeline-gutter

                        .arrowBtnRoot
                            .text-center
                                .arrowBtn.js-timelinePrev
                                    i.icon.icon-leftArrow
                                .arrowBtn.js-timelineNext
                                    i.icon.icon-rightArrow
        include ../layout/_footer.pug
        include ../layout/_footer_js.pug
        