<!DOCTYPE html>
html(lang="en")
    include ../layout/_head.pug
    body#solutions_detail
        header
            include ../layout/_navbar.pug
            .swiper-container.bannerPage.swiper-primary-style
                .swiper-wrapper
                    .swiper-slide
                        img.swiper-lazy(data-src="../UserFiles/solutions/detail/banner_01_1920_550.jpg", alt="")
                    .swiper-slide
                        img.swiper-lazy(data-src="https://fakeimg.pl/1920x550/", alt="")
                    .swiper-slide
                        img.swiper-lazy(data-src="https://fakeimg.pl/1920x550/", alt="")
                .swiper-pagination
            .container
                .breadcrumbRoot
                    span ::
                    ul.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
                        li.breadcrumb-li(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                            a(href="../home/index.html" itemprop="item")
                                span(itemprop="name") Home
                            meta(itemprop="position" content="1")
                        li.breadcrumb-li(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                            a(href="../solutions/index.html" itemprop="item")
                                span(itemprop="name") Solutions
                            meta(itemprop="position" content="2")
                        li.breadcrumb-li(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                            a(href="javascript:;" itemprop="item")
                                span(itemprop="name") Food Grade PET Bottle Washing Line
                            meta(itemprop="position" content="3")
        main
            article.mt-110.mb-100
                h1.fs_45.black_color.text-center.mb-70 Food Grade PET Bottle Washing Line
                section.graphic--second.black_color
                    .container
                        .row.graphic-text
                            .col-lg-9
                                h2.fs_28.graphic__title Product Feature
                                p.fs_18.graphic__p "B to B" level PET bottle washing line is primarily as a first part of food grade PET bottle recycling project. Its high automation will maximally avoid human caused errors. In addition, with efficient blending and inspection systems, the quality of PET flakes ensures stable reprocessing. Our "B to B" level PET bottle washing line can configured with flexible technological process and machinery composition according to differences of actual raw material condition to meet the practical requirements of different customers. The entire production line uses industrial grade computer, large-screen HMI system and PLC to control every parameter of process directly and visually. Real-time parameter collecting and recording can be also accomplished for more convenient production management and data analysis. The equipped with automatic plastic sorting machine and color sorting machine will save manpower and improve production efficiency and thus bring actual highly automated production. 
                                    br
                                    br
                                    | Capacity : 500 kg/h~6000kg/h
                            .col-lg-3.mt-70.mb-40
                                a.button.button--primary.js-lightbox-open(href="javascript:;" data-open="js-lightbox-Quotation")
                                    i.icon.icon-more.white_color
                                    span.white_color.fs_16 Request for Quotation
                                a.button.button--primary(href="javascript:;")
                                    i.icon.icon-pdf.white_color
                                    span.white_color.fs_16 Brochure Download
                section.graphic--second.white_color.pt-70.pb-70(style="background-color: #6FB42C")
                    .container
                        h2.fs_28.graphic__title Advantage of our PET Recycling System
                        p.fs_18.graphic__p After many years of development, our systematical equipment production line and overall technical tread have become mature, with choice to make  according to the different requirements of customers. We use the mode of modularity to arrange smartly according to the different characteristics of recycled bottle all over the world, to achieve the best production and lowest input.
                        ul.fs_20.graphic-list.graphic-list--disc
                            li B to B Grade PET Bottle Washing Line
                            li Filament Grade PET Bottle Washing Line
                            li Fiber Grade PET Bottle Washing Line
                            li Integrated Automation Solution for PET Recycling Plant
                            li LDPE Film Washing Line
                            li HDPE Bottle Washing Line
                section.graphic--second.black_color
                    .container
                        h2.fs_28.graphic__secondTitle Environment
                        ul.fs_18.graphic-list.graphic-list--decimal
                            li Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            li ullamcorper tristique ligula. Sed condimentum odio nisl, vel lobortis lectus sagittis ac. Proin et scelerisque justo. Interdum et   malesuada fames ac ante 
                            li Aliquam non diam vitae justo porta posuere in ac erat. Vestibulum aliquet dolor sit amet tortor dapibus, nec luctus est tristique.
                            li Cras luctus purus et odio condimentum vehicula.
                            li Fusce viverra quam in libero ultricies, sed laoreet ex scelerisque. 
                section.graphic--second.black_color
                    .container
                        h2.fs_28.graphic__secondTitle Production Capacity
                        ul.fs_18.graphic-list.graphic-list--decimal
                            li Curabitur eros nisi, sodales id ante eget, sodales mollis quam.
                            li nec quam lacinia rhoncus. Sed vehicula rhoncus odio sit amet egestas.
                            li Ut dictum aliquam diam in fermentum. Nulla dolor lacus, maximus quis mollis eget, fermentum hendrerit erat.
                            li Suspendisse at sem et ligula ullamcorper interdum. Etiam convallis iaculis magna tempor imperdiet. Sed non massa est.
                            li sagittis tempor dolor vel, pretium maximus elit. Morbi est mi, consequat a ipsum in, commodo hendrerit turpis.
                section.graphic--second.black_color
                    .container
                        h2.fs_28.graphic__secondTitle Level
                        ul.fs_18.graphic-list.graphic-list--decimal
                            li Fusce quis magna ligula. Duis quis maximus nunc, non fringilla mi.
                            li Phasellus a elementum urna, nec iaculis nulla. Praesent sollicitudin eros at ligula sodales maximus.
                            li Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                section.graphic--second.black_color
                    .container
                        h2.fs_28.graphic__secondTitle Gallery
                        .row.mt-40.mb-20
                            .col-md-3.col-sm-6.galleryRoot
                                .gallery.gallery--4
                                    .gallery__img.js-media-open(style="background-image: url(../UserFiles/solutions/detail/solutions_01.jpg)", data-media-channel="img")
                                    i.icon.icon-magnifier.white_color.fs_45
                            .col-md-3.col-sm-6.galleryRoot
                                .gallery.gallery--4
                                    .gallery__img.js-media-open(style="background-image: url(../UserFiles/solutions/detail/solutions_02.jpg)", data-media-channel="img")
                                    i.icon.icon-magnifier.white_color.fs_45
                            .col-md-3.col-sm-6.galleryRoot
                                .gallery.gallery--4
                                    .gallery__img.js-media-open(style="background-image: url(../UserFiles/solutions/detail/solutions_03.jpg)", data-media-channel="img")
                                    i.icon.icon-magnifier.white_color.fs_45
                section.graphic--second.black_color.pt-70.pb-70(style="background-color: #F9F9F9")
                    .container
                        h2.fs_28.graphic__secondTitle 3D How it works
                        .graphic-img
                            img.mt-50(src="../UserFiles/solutions/detail/solution_product.png", alt="")
                            .img__circle(style="top: 30%; left: 24%") 1
                            .img__circle(style="top: 60%; left: 32%") 2
                            .img__circle(style="top: 19%; left: 51.5%") 3
                            .img__circle(style="top: 60%; left: 65%") 4
                            .img__circle(style="top: 28%; left: 75.5%") 5
                            .img__circle(style="top: 33%; left: 86.5%") 6
                        ul.fs_18.graphic-list.graphic-list--decimal
                            li text here
                            li Lorem Ipsum .
                            li text of the printing and typesetting industry.
                            li Lprinting and typesetting industry.
                            li typesetting industry.
                section.graphic--second.black_color
                    .container
                        h2.fs_28.graphic__secondTitle Applications of rPET Flakes
                        .row.mt-20.d-flex.flex-wrap
                            .col-md-2.col-sm-4.col-xs-6.galleryRoot
                                .gallery.gallery--2
                                    .gallery__img(style="background-image: url(../UserFiles/solutions/detail/applications_01.jpg)")
                                p.fs_18.mt-20 PE/PP film roll
                            .col-md-2.col-sm-4.col-xs-6.galleryRoot
                                .gallery.gallery--2
                                    .gallery__img(style="background-image: url(../UserFiles/solutions/detail/applications_02.jpg)")
                                p.fs_18.mt-20 Flaskes
                            .col-md-2.col-sm-4.col-xs-6.galleryRoot
                                .gallery.gallery--2
                                    .gallery__img(style="background-image: url(../UserFiles/solutions/detail/applications_03.jpg)")
                                p.fs_18.mt-20 Fiber
                section.container
                    a.button.button--primary.button--block.white_color.fs_20.text-center(href="javascript:;") Successful Project
            article.lightboxRoot.js-lightbox-Quotation
                .lightbox
                    .lightbox-close.js-lightbox-close
                    .lightbox-container
                        form.lightbox-block.black_color.form(action="")
                            button.icon.icon-close.js-lightbox-close(type="reset")
                            p.fs_45.mb-40 Food Grade PET Bottle Washing Line
                            p.fs_28.form__subtitle *The end product of BoReTech PET bottle washing line is rPET flakes,
                            ul
                                li.form-block
                                    p.fs_18 Q. Is your company in the field of PET recycling Industry?
                                    .form-select
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question1")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Yes
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question1")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p no
                                li.form-block
                                    p.fs_18 Q. Which industry is your company currently engaged in as below?
                                    .form-select
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question2")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p PET bottle recycling factory
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question2")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Polyester fiber production and downstream manufacturer
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question2")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p PET Pelletizing and downstream manufacturer
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question2")
                                            .form-label__radio
                                            .form-check.fs_18
                                                p.form-check__p Sheet manufacturer and downstream manufacturer
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question2")
                                            .form-label__radio
                                            .form-check.fs_18
                                                p.form-check__p PET bottle blowing Factory
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question2")
                                            .form-label__radio
                                            .form-check.fs_18
                                                p.form-check__p Others
                                                input.form-check__input.fs_15(type="text")
                                li.form-block
                                    p.fs_18 Q. Is the PET bottles the object you need to recycle?
                                    .form-select
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question3")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Yes
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question3")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p no
                                li.form-block
                                    p.fs_18 Q. Which one are you looking for as below?
                                    .form-select
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question4")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p PET bottle washing line (system)
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question4")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Functional single machine of PET bottle recycling, like crusher, PVC label scraper,etc.
                                li.form-block
                                    p.fs_18 Q. Does your company already have a PET bottle recycling line in operation? (if so, supplier)
                                    .form-select
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question5")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Yes, Supplier
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question5")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p no
                                li.form-block
                                    p.fs_18 Q. What's the capacity of your PET bottle recycing line in operation?
                                    .form-check.fs_18
                                        input.form-check__input.fs_15(type="text")
                                li.form-block
                                    p.fs_18 Q. Does your company already have a PET bottle recycling line in operation? (if so, supplier)
                                    .form-select
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question6")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p 500 kg/h
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question6")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p 1500
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question6")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p 3000 kg/h
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question6")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p 4500
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question6")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p 6000 kg/h
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question6")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p 10000
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question6")
                                            .form-label__radio
                                            .form-check.fs_18
                                                p.form-check__p Others
                                                input.form-check__input.fs_15(type="text")
                                li.form-block
                                    p.fs_18 Q. What's your target grade /application of the rPET flakes  ?
                                    .form-select
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question7")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Fiber Grade
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question7")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Label Content (ppm):
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question7")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Metal Content (ppm) :
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question7")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p PP/PE Content (ppm):
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question7")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Moisture Content (ppm):
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question7")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Glue Content (ppm):
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question7")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Total Impurity (ppm):
                                li.form-block
                                    p.fs_18 Q. Does your company have a factory/space avaiable for the new washing line in hand ?
                                    .form-select
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question8")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Yes
                                                input.form-check__input.fs_15(type="text" placeholder="Please indicate which country/area are you going to set up your new line?")
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question8")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p No
                                li.form-block
                                    p.fs_18 Q. What's your budget for the PET bottle washing line?
                                    .form-check.fs_18
                                        input.form-check__input.fs_15(type="text")
                                li.form-block
                                    p.fs_18 Q. Does your company have a factory/space avaiable for the new washing line in hand ?
                                    .form-select
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question9")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Internet Search
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question9")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Exhibition, Industry Meeting
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question9")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Magazine,paper
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question9")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Introduced by friend, association
                                        label.form-label
                                            input.form-label__inputNone(type="radio" name="question9")
                                            .form-label__radio
                                            .form-check.fs_18 
                                                p.form-check__p Others
                                                input.form-check__input.fs_15(type="text")
                            p.fs_28 Your contact information, please
                            .form-contact
                                // 後端注意
                                    form-label 加上class form-label--required 為必填欄位
                                    input 加上required屬性
                                .form-block
                                    label.form-label.form-label--smallGutter.form-label--required
                                        p.form-label__title Company:
                                        input.form-label__input(type="text" required)
                                    label.form-label.form-label--smallGutter.form-label--required
                                        p.form-label__title Contact Person:
                                        input.form-label__input(type="text" required)
                                    label.form-label.form-label--smallGutter.form-label--required
                                        p.form-label__title Job Title:
                                        input.form-label__input(type="text" required)
                                    label.form-label.form-label--smallGutter.form-label--required
                                        p.form-label__title E-mail:
                                        input.form-label__input(type="email" required)
                                    label.form-label.form-label--smallGutter.form-label--required
                                        p.form-label__title Phone:
                                        input.form-label__input(type="tel" required)
                                    label.form-label.form-label--smallGutter.form-label--required
                                        p.form-label__title Web Site:
                                        input.form-label__input(type="url")
                                    label.form-label.form-label--smallGutter
                                        p.form-label__title
                                        button.button.button--primary.button--block.white_color.fs_18.text-center(type="submit") SEND

            article.mediaLightRoot
                .mediaLightBG.js-media-close
                .mediaLight
                    .mediaLight-container

        include ../layout/_footer.pug
        include ../layout/_footer_js.pug
        